# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
backend/.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Node frontend later
node_modules/
dist/
build/

# Databases
*.db
*.sqlite3

backend/chroma_store/