body {
  margin: 0;
  background-color: #0b0f19;
  color: #f8fafc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}
